<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <a href="./" class="header__logo">
                        <img src="img/icons/logo1.svg" alt="">
                    </a>
                    <div class="header__body">
                        <ul>
                            <li>
                                <a href="index.html" class="active">Главная</a>
                            </li>
                            <li>
                                <a href="menu.html">Меню</a>
                            </li>
                            <li>
                                <a href="hookah.html">Кальянная</a>
                            </li>
                            <li>
                                <a href="vacancies.html">Вакансии</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__right">
                        <div data-da=".header__body, 1200, last" class="header__contacts">
                            <div class="header__contact">
                                <div class="header__icon">
                                    <svg aria-hidden="true" width="15" height="19">
                                        <use xlink:href="img/sprite.svg#location"></use>
                                    </svg>
                                </div>
                                <div class="header__item">
                                    <span>Местоположение</span>
                                    <div class="header__title">
                                        ТЦ Экспобел
                                    </div>
                                </div>
                            </div>
                            <div class="header__contact">
                                <div class="header__icon">
                                    <svg aria-hidden="true" width="18" height="18">
                                        <use xlink:href="img/sprite.svg#phone"></use>
                                    </svg>
                                </div>
                                <div class="header__item">
                                    <a href="tel:375295254950" class="header__title">
                                        +375 29 525 49 50
                                    </a>
                                    <span>с 8:00 до 00:00</span>
                                </div>
                            </div>
                        </div>
                        <a href="./" data-popup="#forms" class="btn">
                            <span>Бронирование</span>
                        </a>
                        <button type="button" class="header__burger">
                            <span class="icon-menu">
                                <span></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <div class="bg">
                <img src="img/bg.webp" alt="">
            </div>
            <img src="img/image3.webp" alt="" class="pic1">
            <img src="img/image4.webp" alt="" class="pic2">

            <div class="block-intro">
                <img src="img/image26.webp" alt="" class="pic3">
                <svg class="block-intro__svg2" width="1920" height="359" viewBox="0 0 1920 359" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_f_51_175)">
                        <ellipse cx="889" cy="179.5" rx="99.4999" ry="1497" transform="rotate(-90 889 179.5)"
                            fill="#040404" />
                    </g>
                    <defs>
                        <filter id="filter0_f_51_175" x="-688" y="0" width="3154" height="359"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feGaussianBlur stdDeviation="40" result="effect1_foregroundBlur_51_175" />
                        </filter>
                    </defs>
                </svg>
                <div class="container">
                    <div class="block-intro__content">
                        <img src="img/image2.webp" alt="" class="block-intro__bg">
                        <div class="block-intro__body">
                            <div class="block-intro__title">
                                Ресторан
                            </div>
                            <h1 class="title1">
                                омар хайям
                            </h1>
                            <div class="block-intro__text">
                                <p>
                                    Не бойтесь дарить согревающих слов и добрые делать дела.<br>
                                    Чем больше в огонь вы положите дров,
                                    тем больше вернется тепла
                                </p>
                                <p>
                                    Уют, по Хайяму, строится на доброте и заботе.
                                    <br>
                                    А мы будем стараться разделить его мудрость с нашими
                                    гостями.
                                </p>
                                <p>
                                    В ресторане «Омар Хайям» Вас ждет радушный прием, <br>вкусная еда и приятная
                                    атмосфера
                                </p>
                            </div>
                            <a href="./" class="btn">
                                <span>Перейти в меню</span>
                            </a>
                        </div>
                        <svg class="block-intro__svg1" width="881" height="1021" viewBox="0 0 881 1021" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7" filter="url(#filter0_f_58_6)">
                                <path
                                    d="M780.006 589.5C780.006 900.16 643.25 921 449.968 921C256.686 921 100 669.16 100 358.5C100 47.8398 256.686 -204 449.968 -204C816.317 -204 780.006 -86 780.006 589.5Z"
                                    fill="#040404" />
                            </g>
                            <defs>
                                <filter id="filter0_f_58_6" x="0" y="-304" width="881" height="1325"
                                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                    <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_58_6" />
                                </filter>
                            </defs>
                        </svg>
                        <img src="img/image1.webp" alt="" class="block-intro__image">
                    </div>
                </div>
            </div>

            <div class="block-catalog block1">
                <img loading="lazy" src="img/image5.webp" alt="" class="pic4">
                <img loading="lazy" src="img/image6.webp" alt="" class="pic5">
                <div class="container">
                    <div class="block-catalog__content">
                        <h2 class="title2">
                            Наше меню
                        </h2>
                        <div class="block-catalog__cards">
                            <a href="./" class="card-menu card-menu-other">
                                <img loading="lazy" src="img/products/image1.webp" alt="" class="card-menu__pic1">
                                <div class="card-menu__item">
                                    <div class="card-menu__titles">
                                        <div class="card-menu__title">
                                            Тартар из говядины
                                        </div>
                                        <p>
                                            Говядина бавет, каперсы, горчица зернистая, табаско, маринованные огурцы
                                        </p>
                                    </div>
                                    <div class="card-menu__bottom">
                                        <div class="card-menu__prices">
                                            <div class="card-menu__price">
                                                32 руб.
                                            </div>
                                            <span>200 гр</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="./" class="card-menu card-menu-other">
                                <img loading="lazy" src="img/products/image2.webp" alt="" class="card-menu__pic1">
                                <div class="card-menu__item">
                                    <div class="card-menu__titles">
                                        <div class="card-menu__title">
                                            Салат с тунцом
                                        </div>
                                        <p>
                                            Тунец , яйцо ; маслины , томат черри , салат , красный лук , соус
                                        </p>
                                    </div>
                                    <div class="card-menu__bottom">
                                        <div class="card-menu__prices">
                                            <div class="card-menu__price">
                                                18 руб.
                                            </div>
                                            <span>280 гр</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="./" class="card-menu">
                                <img loading="lazy" src="img/products/image3.webp" alt="" class="card-menu__pic1">
                                <div class="card-menu__item">
                                    <div class="card-menu__titles">
                                        <div class="card-menu__title">
                                            Джиз-Быз с говядиной
                                        </div>
                                        <p>
                                            Говяжья вырезка , картофельные чипсы , лимон , томаты , болгарский перец ,
                                            красный лук , фирменный соус
                                        </p>
                                    </div>
                                    <div class="card-menu__bottom">
                                        <div class="card-menu__prices">
                                            <div class="card-menu__price">
                                                40 руб.
                                            </div>
                                            <span>200 гр</span>
                                        </div>
                                        <div class="btn btn-transparent">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="./" class="card-menu">
                                <img loading="lazy" src="img/products/image1.webp" alt="" class="card-menu__pic1">
                                <div class="card-menu__item">
                                    <div class="card-menu__titles">
                                        <div class="card-menu__title">
                                            Тартар из говядины
                                        </div>
                                        <p>
                                            Говядина бавет, каперсы, горчица зернистая, табаско, маринованные огурцы
                                        </p>
                                    </div>
                                    <div class="card-menu__bottom">
                                        <div class="card-menu__prices">
                                            <div class="card-menu__price">
                                                32 руб.
                                            </div>
                                            <span>200 гр</span>
                                        </div>
                                        <div class="btn btn-transparent">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="./" class="btn">
                            <span>Смотреть все меню</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-descr block1">
                <img loading="lazy" src="img/image7.webp" alt="" class="pic6">
                <img loading="lazy" src="img/image9.webp" alt="" class="pic7">
                <div class="container">
                    <div class="block-descr__content">
                        <div class="block-descr__body">
                            <h2 class="title2">Дорогой гость</h2>
                            <div class="block-descr__text">
                                <p>
                                    Добро пожаловать в ресторан «Омар Хайям» — место, где философия востока встречается
                                    с гастрономическими традициями Восточной Европы.
                                </p>
                                <p>
                                    «Омар Хайям» идеальное место для душевного ужина, встречи с семьёй или делового
                                    обеда. Позвольте себе наслаждение без суеты, ведь в жизни, как в кулинарии, главное
                                    гармония.
                                </p>
                            </div>
                        </div>
                        <div class="block-descr__pic1">
                            <img loading="lazy" src="img/image8.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery block2">
                <img loading="lazy" src="img/image10.webp" alt="" class="pic8">
                <img loading="lazy" src="img/image11.webp" alt="" class="pic9">
                <div class="container">
                    <div class="block-gallery__content">
                        <h2 class="title2">
                            Атмосфера
                        </h2>
                        <div class="block-gallery__body">
                            <div class="block-gallery__columns">
                                <div class="block-gallery__column">
                                    <a href="img/image17.webp" data-fancybox="gallery1" class="block-gallery__image">
                                        <img loading="lazy" src="img/image17.webp" alt="">
                                    </a>
                                </div>
                                <div class="block-gallery__column">
                                    <a href="img/image18.webp" data-fancybox="gallery1" class="block-gallery__image">
                                        <img loading="lazy" src="img/image18.webp" alt="">
                                    </a>
                                    <a href="img/products/image4.webp" data-fancybox="gallery1"
                                        class="block-gallery__image">
                                        <img loading="lazy" src="img/products/image4.webp" alt="">
                                    </a>
                                    <a href="img/products/image5.webp" data-fancybox="gallery1"
                                        class="block-gallery__image">
                                        <img loading="lazy" src="img/products/image5.webp" alt="">
                                    </a>
                                    <a href="img/image19.webp" data-fancybox="gallery1" class="block-gallery__image">
                                        <img loading="lazy" src="img/image19.webp" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="block-gallery__columns">
                                <div class="block-gallery__column">
                                    <a href="img/image22.webp" data-fancybox="gallery1" class="block-gallery__image">
                                        <img loading="lazy" src="img/image22.webp" alt="">
                                    </a>
                                </div>
                                <div class="block-gallery__column">
                                    <a href="img/image20.webp" data-fancybox="gallery1" class="block-gallery__image">
                                        <img loading="lazy" src="img/image20.webp" alt="">
                                    </a>
                                    <a href="img/products/image4.webp" data-fancybox="gallery1"
                                        class="block-gallery__image">
                                        <img loading="lazy" src="img/products/image4.webp" alt="">
                                    </a>
                                    <a href="img/products/image5.webp" data-fancybox="gallery1"
                                        class="block-gallery__image">
                                        <img loading="lazy" src="img/products/image5.webp" alt="">
                                    </a>
                                    <a href="img/image21.webp" data-fancybox="gallery1" class="block-gallery__image">
                                        <img loading="lazy" src="img/image21.webp" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms">
                <img loading="lazy" src="img/image13.webp" alt="" class="pic10">
                <div class="container">
                    <div class="block-forms__content">
                        <img loading="lazy" src="img/image12.webp" alt="" class="block-forms__bg">
                        <form action="#" class="form">
                            <h2 class="title2">
                                Бронирование
                            </h2>
                            <div class="form__body">
                                <div class="form__inputs">
                                    <div class="form__input">
                                        <select name="form[]" class="select1">
                                            <option value="" data-show data-label data-label="Выберите дату:" selected>
                                                Выберите дату
                                            </option>
                                            <option value="1">Выберите дату1</option>
                                            <option value="2">Выберите дату2</option>
                                            <option value="3">Выберите дату3</option>
                                            <option value="4">Выберите дату4</option>
                                        </select>
                                    </div>
                                    <div class="form__input">
                                        <select name="form[]" class="select1">
                                            <option value="" data-show data-label data-label="Выберите дату:" selected>
                                                Выберите время
                                            </option>
                                            <option value="1">Выберите время1</option>
                                            <option value="2">Выберите время2</option>
                                            <option value="3">Выберите время3</option>
                                            <option value="4">Выберите время4</option>
                                        </select>
                                    </div>
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Ваше имя">
                                    </div>
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Ваш номер телефона">
                                    </div>
                                </div>
                                <div class="form__buttons">
                                    <label class="checkbox">
                                        <input data-required class="checkbox__input" type="checkbox" value="1"
                                            name="form[]">
                                        <span class="checkbox__label">
                                            <span class="checkbox__icon">
                                                <img loading="lazy" src="img/icons/check1.svg" alt="">
                                            </span>
                                            <span class="checkbox__text">Я даю согласие на обработку<br>
                                                персональных данных</span>
                                        </span>
                                    </label>
                                    <button type="submit" class="btn">
                                        <span>Отправить заявку</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="block-contacts">
                <img loading="lazy" src="img/image15.webp" alt="" class="pic11">
                <img loading="lazy" src="img/image5.webp" alt="" class="pic12">
                <img loading="lazy" src="img/image14.webp" alt="" class="pic13">
                <div class="container">
                    <div class="block-contacts__content">
                        <div class="block-contacts__left">
                            <div class="block-contacts__column">
                                <h2 class="title2">
                                    Контакты
                                </h2>
                                <div class="block-contacts__items">
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__icon">
                                            <svg aria-hidden="true" width="15" height="19">
                                                <use xlink:href="img/sprite.svg#location"></use>
                                            </svg>
                                        </div>
                                        <div class="block-contacts__titles">
                                            <span>Адрес</span>
                                            <div class="block-contacts__title">
                                                Боровлянский сельсовет, 74/1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__icon">
                                            <svg aria-hidden="true" width="18" height="18">
                                                <use xlink:href="img/sprite.svg#phone"></use>
                                            </svg>
                                        </div>
                                        <div class="block-contacts__titles">
                                            <span>Бронь стола</span>
                                            <a href="375295254950" class="block-contacts__title">
                                                +375 29 525 49 50
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__icon">
                                            <svg aria-hidden="true" width="20" height="20">
                                                <use xlink:href="img/sprite.svg#time"></use>
                                            </svg>
                                        </div>
                                        <div class="block-contacts__titles">
                                            <span>Работаем ежедневно</span>
                                            <div class="block-contacts__title">
                                                <p>Пн-Вс с 8:00 до 00:00</p>
                                                <p>Завтраки с 8:00 до 11:00</p>
                                                <p>Кальянная с 12:00 до 00:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="socials">
                                    <a href="./">
                                        <img loading="lazy" src="img/icons/viber.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img loading="lazy" src="img/icons/telegram.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img loading="lazy" src="img/icons/instagram.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-contacts__right">
                            <div class="block-contacts__image">
                                <img loading="lazy" src="img/location.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__content">
                    <div class="footer__top">
                        <a href="./" class="footer__logo">
                            <img loading="lazy" src="img/icons/logo3.svg" alt="">
                        </a>
                        <div class="footer__menu">
                            <ul>
                                <li>
                                    <a href="./">Главная</a>
                                </li>
                                <li>
                                    <a href="./">Меню</a>
                                </li>
                                <li>
                                    <a href="./">Кальянная</a>
                                </li>
                                <li>
                                    <a href="./">Вакансии</a>
                                </li>
                                <li>
                                    <a href="./">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="socials">
                            <a href="./">
                                <img loading="lazy" src="img/icons/viber.svg" alt="">
                            </a>
                            <a href="./">
                                <img loading="lazy" src="img/icons/telegram.svg" alt="">
                            </a>
                            <a href="./">
                                <img loading="lazy" src="img/icons/instagram.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer__bottom">
                        <div class="footer__copy">
                            © Ресторан Омар Хайям
                        </div>
                        <a href="./" class="footer__link">
                            Политика конфиденциальности и согласие на обработку персональных данных
                        </a>
                        <a href="./" class="footer__logo2">
                            <img loading="lazy" src="img/icons/logo2.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>