<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Вакансии</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <a href="./" class="header__logo">
                        <img src="img/icons/logo1.svg" alt="">
                    </a>
                    <div class="header__body">
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="menu.html" class="active">Меню</a>
                            </li>
                            <li>
                                <a href="hookah.html">Кальянная</a>
                            </li>
                            <li>
                                <a href="vacancies.html" class="active">Вакансии</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__right">
                        <div data-da=".header__body, 1200, last" class="header__contacts">
                            <div class="header__contact">
                                <div class="header__icon">
                                    <svg aria-hidden="true" width="15" height="19">
                                        <use xlink:href="img/sprite.svg#location"></use>
                                    </svg>
                                </div>
                                <div class="header__item">
                                    <span>Местоположение</span>
                                    <div class="header__title">
                                        ТЦ Экспобел
                                    </div>
                                </div>
                            </div>
                            <div class="header__contact">
                                <div class="header__icon">
                                    <svg aria-hidden="true" width="18" height="18">
                                        <use xlink:href="img/sprite.svg#phone"></use>
                                    </svg>
                                </div>
                                <div class="header__item">
                                    <a href="tel:375295254950" class="header__title">
                                        +375 29 525 49 50
                                    </a>
                                    <span>с 8:00 до 00:00</span>
                                </div>
                            </div>
                        </div>
                        <a href="./" data-popup="#forms" class="btn">
                            <span>Бронирование</span>
                        </a>
                        <button type="button" class="header__burger">
                            <span class="icon-menu">
                                <span></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <div class="bg">
                <img src="img/bg.webp" alt="">
            </div>
            <img src="img/image3.webp" alt="" class="pic1">
            <img src="img/image4.webp" alt="" class="pic2">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li><span>Вакансии</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-vacancies block2">
                <div class="container">
                    <div class="block-vacancies__content">
                        <h2 class="title2">
                            Вакансии
                        </h2>
                        <div data-spollers class="vacancies-spollers">
                            <div class="vacancies-spollers__item">
                                <button type="button" data-spoller class="vacancies-spollers__title">
                                    <span class="title3">Менеджер ресторана</span>
                                </button>
                                <div class="vacancies-spollers__body">
                                    <div class="vacancies-spollers__text">
                                        <p>
                                            Международная сеть пиццерий DOMINO`S PIZZA BELARUS приглашает на работу
                                            менеджера пиццерии (администратора зала)
                                        </p>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Обязанности:</span>
                                        <ul>
                                            <li>
                                                - Управление сменой и процессами в пиццерии, контроль работы сотрудников
                                                пиццерии;
                                            </li>
                                            <li>
                                                - Участие в обучении и адаптация персонала;
                                            </li>
                                            <li>
                                                - Знание всех процессов пиццерии и умение выполнять каждый из них
                                                (работа на
                                                кухне, приготовление блюд);
                                            </li>
                                            <li>- Контроль качества продукции;</li>
                                            <li>
                                                - Общение с гостями пиццерии при необходимости.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Требования:</span>
                                        <ul>
                                            <li>
                                                - Опыт работы в сфере общепита или в рознице;
                                            </li>
                                            <li>
                                                - Опыт руководства коллективом желателен, но не обязателен
                                                (рассматриваем амбициозных поваров и кассиров, имеющих опыт работы в
                                                общепите);
                                            </li>
                                            <li>
                                                - Ответственность, желание развиваться в международной компании;
                                            </li>
                                            <li>
                                                - Умение работать в режиме многозадачности.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies-spollers__item">
                                <button type="button" data-spoller class="vacancies-spollers__title">
                                    <span class="title3">Кондитер</span>
                                </button>
                                <div class="vacancies-spollers__body">
                                    <div class="vacancies-spollers__text">
                                        <p>
                                            Международная сеть пиццерий DOMINO`S PIZZA BELARUS приглашает на работу
                                            менеджера пиццерии (администратора зала)
                                        </p>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Обязанности:</span>
                                        <ul>
                                            <li>
                                                - Управление сменой и процессами в пиццерии, контроль работы сотрудников
                                                пиццерии;
                                            </li>
                                            <li>
                                                - Участие в обучении и адаптация персонала;
                                            </li>
                                            <li>
                                                - Знание всех процессов пиццерии и умение выполнять каждый из них
                                                (работа на
                                                кухне, приготовление блюд);
                                            </li>
                                            <li>- Контроль качества продукции;</li>
                                            <li>
                                                - Общение с гостями пиццерии при необходимости.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Требования:</span>
                                        <ul>
                                            <li>
                                                - Опыт работы в сфере общепита или в рознице;
                                            </li>
                                            <li>
                                                - Опыт руководства коллективом желателен, но не обязателен
                                                (рассматриваем амбициозных поваров и кассиров, имеющих опыт работы в
                                                общепите);
                                            </li>
                                            <li>
                                                - Ответственность, желание развиваться в международной компании;
                                            </li>
                                            <li>
                                                - Умение работать в режиме многозадачности.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies-spollers__item">
                                <button type="button" data-spoller class="vacancies-spollers__title">
                                    <span class="title3">Повар</span>
                                </button>
                                <div class="vacancies-spollers__body">
                                    <div class="vacancies-spollers__text">
                                        <p>
                                            Международная сеть пиццерий DOMINO`S PIZZA BELARUS приглашает на работу
                                            менеджера пиццерии (администратора зала)
                                        </p>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Обязанности:</span>
                                        <ul>
                                            <li>
                                                - Управление сменой и процессами в пиццерии, контроль работы сотрудников
                                                пиццерии;
                                            </li>
                                            <li>
                                                - Участие в обучении и адаптация персонала;
                                            </li>
                                            <li>
                                                - Знание всех процессов пиццерии и умение выполнять каждый из них
                                                (работа на
                                                кухне, приготовление блюд);
                                            </li>
                                            <li>- Контроль качества продукции;</li>
                                            <li>
                                                - Общение с гостями пиццерии при необходимости.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Требования:</span>
                                        <ul>
                                            <li>
                                                - Опыт работы в сфере общепита или в рознице;
                                            </li>
                                            <li>
                                                - Опыт руководства коллективом желателен, но не обязателен
                                                (рассматриваем амбициозных поваров и кассиров, имеющих опыт работы в
                                                общепите);
                                            </li>
                                            <li>
                                                - Ответственность, желание развиваться в международной компании;
                                            </li>
                                            <li>
                                                - Умение работать в режиме многозадачности.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies-spollers__item">
                                <button type="button" data-spoller class="vacancies-spollers__title">
                                    <span class="title3">Кухонный рабочий</span>
                                </button>
                                <div class="vacancies-spollers__body">
                                    <div class="vacancies-spollers__text">
                                        <p>
                                            Международная сеть пиццерий DOMINO`S PIZZA BELARUS приглашает на работу
                                            менеджера пиццерии (администратора зала)
                                        </p>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Обязанности:</span>
                                        <ul>
                                            <li>
                                                - Управление сменой и процессами в пиццерии, контроль работы сотрудников
                                                пиццерии;
                                            </li>
                                            <li>
                                                - Участие в обучении и адаптация персонала;
                                            </li>
                                            <li>
                                                - Знание всех процессов пиццерии и умение выполнять каждый из них
                                                (работа на
                                                кухне, приготовление блюд);
                                            </li>
                                            <li>- Контроль качества продукции;</li>
                                            <li>
                                                - Общение с гостями пиццерии при необходимости.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="vacancies-spollers__text">
                                        <span>Требования:</span>
                                        <ul>
                                            <li>
                                                - Опыт работы в сфере общепита или в рознице;
                                            </li>
                                            <li>
                                                - Опыт руководства коллективом желателен, но не обязателен
                                                (рассматриваем амбициозных поваров и кассиров, имеющих опыт работы в
                                                общепите);
                                            </li>
                                            <li>
                                                - Ответственность, желание развиваться в международной компании;
                                            </li>
                                            <li>
                                                - Умение работать в режиме многозадачности.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms2 block2">
                <img loading="lazy" src="img/image5.webp" alt="" class="pic4">
                <img loading="lazy" src="img/image6.webp" alt="" class="pic5">
                <div class="container">
                    <div class="block-forms__content">
                        <img loading="lazy" src="img/image24.webp" alt="" class="block-forms__pic2">
                        <form action="#" class="form">
                            <h2 class="title2">
                                Оставьте заявку сейчас
                            </h2>
                            <p>
                                Остались вопросы? Оставьте заявку и мы перезвоним для уточнения деталей
                            </p>
                            <div class="form__body">
                                <div class="form__inputs">
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Ваше имя">
                                    </div>
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Ваш номер телефона">
                                    </div>
                                    <div class="form__input form-file-input">
                                        <input class="form-file" readonly data-required autocomplete="off" type="text"
                                            name="form[]" placeholder="Выберите файл">
                                    </div>
                                    <div class="form__input">
                                        <button type="button" class="form-file-button btn btn-transparent">
                                            <input type="file">
                                            <span>Обзор</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form__buttons">
                                    <label class="checkbox">
                                        <input data-required class="checkbox__input" type="checkbox" value="1"
                                            name="form[]">
                                        <span class="checkbox__label">
                                            <span class="checkbox__icon">
                                                <img loading="lazy" src="img/icons/check1.svg" alt="">
                                            </span>
                                            <span class="checkbox__text">Я даю согласие на обработку<br>
                                                персональных данных</span>
                                        </span>
                                    </label>
                                    <button type="submit" class="btn">
                                        <span>Отправить заявку</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer">
            <img src="img/image16.webp" alt="" class="pic14">
            <div class="container">
                <div class="footer__content">
                    <div class="footer__top">
                        <a href="./" class="footer__logo">
                            <img loading="lazy" src="img/icons/logo3.svg" alt="">
                        </a>
                        <div class="footer__menu">
                            <ul>
                                <li>
                                    <a href="./">Главная</a>
                                </li>
                                <li>
                                    <a href="./">Меню</a>
                                </li>
                                <li>
                                    <a href="./">Кальянная</a>
                                </li>
                                <li>
                                    <a href="./">Вакансии</a>
                                </li>
                                <li>
                                    <a href="./">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="socials">
                            <a href="./">
                                <img loading="lazy" src="img/icons/viber.svg" alt="">
                            </a>
                            <a href="./">
                                <img loading="lazy" src="img/icons/telegram.svg" alt="">
                            </a>
                            <a href="./">
                                <img loading="lazy" src="img/icons/instagram.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer__bottom">
                        <div class="footer__copy">
                            © Ресторан Омар Хайям
                        </div>
                        <a href="./" class="footer__link">
                            Политика конфиденциальности и согласие на обработку персональных данных
                        </a>
                        <a href="./" class="footer__logo2">
                            <img loading="lazy" src="img/icons/logo2.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>