body {
  color: var(--theme-color-accent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding: 0px 0px 0px 0px !important;
  //background-image: url("../img/bg.webp");
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center center;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 97;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  min-width: 210px;
  width: fit-content;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 13px 0 rgba(237, 217, 124, 0.09);
  background: radial-gradient(86.69% 50% at 50% 0%, #fcf08d 0%, #a7672d 100%);
  position: relative;
  border-radius: 8px;
  padding: 6px 20px;
  min-height: 44px;
  overflow: hidden;
  transition: opacity 0.3s;
  span {
    position: relative;
    z-index: 10;
    margin-top: -3px;
  }
  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 0;
  }
  &.btn-transparent {
    background: transparent;
    background-color: transparent;
    border: 1px solid #a7672d;
    transition: background-color 0.3s;
    &:hover {
      opacity: 1;
      background-color: #a7672d;
    }
  }
  &:hover {
    opacity: 0.8;
  }
  @media (max-width: 768px) {
    min-height: 40px;
    font-size: 14px;
  }
  @media (max-width: 550px) {
    width: 100%;
    min-width: 100%;
  }
}

.socials {
  display: flex;
  gap: 30px;
  a {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    transition: opacity 0.3s;
    img {
      width: 100%;
      height: auto;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 9;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.82) 0%, rgba(0, 0, 0, 0.76) 100%);
    z-index: 8;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 8;
  }
}
.pic1 {
  position: absolute;
  top: -90px;
  left: 0;
  height: 90px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic2 {
  position: absolute;
  top: 0px;
  right: 0;
  height: 220px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic3 {
  position: absolute;
  bottom: -230px;
  left: 0;
  height: 370px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic4 {
  position: absolute;
  top: 120px;
  left: 0;
  height: 250px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic5 {
  position: absolute;
  bottom: 60px;
  right: 0;
  height: 250px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic6 {
  position: absolute;
  top: 250px;
  left: 0;
  height: 360px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic7 {
  position: absolute;
  top: -70px;
  right: 0;
  height: 190px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic8 {
  position: absolute;
  top: 460px;
  left: 0;
  height: 190px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic9 {
  position: absolute;
  top: 110px;
  right: 0;
  height: 210px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic10 {
  position: absolute;
  bottom: -60px;
  right: 0;
  height: 340px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic11 {
  position: absolute;
  top: 0px;
  left: 0;
  height: 340px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic12 {
  position: absolute;
  bottom: 80px;
  left: 0;
  height: 290px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic13 {
  position: absolute;
  top: 0px;
  right: 0;
  height: 505px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}
.pic14 {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 80px;
  width: auto;
  z-index: 10;
  @media (max-width: 1600px) {
    display: none;
  }
}

.block1 {
  margin: 0px 0px 112px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 70px 0px;
  }
}
.block2 {
  margin: 0px 0px 130px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 70px 0px;
  }
}

.title1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 0.08em;
  @media (max-width: 768px) {
    font-size: 60px;
  }
  @media (max-width: 480px) {
    font-size: 50px;
  }
}
.title2 {
  width: 100%;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0.08em;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
.title3 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.08em;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.card-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &:hover {
    .btn {
      opacity: 1;
      background-color: #a7672d;
    }
  }
  // .card-menu__pic1

  &__pic1 {
    border-radius: 16px;
    height: 320px;
    width: 100%;
    object-fit: cover;
    @media (max-width: 768px) {
      height: 290px;
    }
  }

  // .card-menu__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
  }

  // .card-menu__titles

  &__titles {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 180%;
      letter-spacing: 0.05em;
      color: var(--theme-color-accent-60);
    }
  }

  // .card-menu__title

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
  }

  // .card-menu__bottom

  &__bottom {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .btn {
      min-width: fit-content;
      flex: 0 1 160px;
    }
  }

  // .card-menu__prices

  &__prices {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 6px;
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.05em;
      opacity: 0.7;
    }
  }

  // .card-menu__price

  &__price {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
  }
}
